@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>À propos</h2>
    <div>
        <h3>L'or du dragon</h3>
        <p>
            L’or du dragon est un jeu ou le but est de ramasser des pièces d’or afin d’acheter une auberge, un manoir et un château.  Une fois ces trois constructions réalisées le joueur gagne. Il peut en construire plus d’une. De plus, le monde est peuplé de méchant, les trolls et les gobelins.  Pour se déplacer dans le monde, le joueur peut se déplacer de case en case à sa guise mais il ne peut sauter de case sur son chemin s’il tombe sur une case où il y a un méchant il est amené en prison et s’il tombe sur un case avec une construction adverse il reçoit une question.
        </p>
        <h3>Voici les notions aquises</h3>
        <ol>
            <li>Comprendre le modèle MVC 5 dans un contexte multi-usager</li>
            <li>Comprendre et appliquer l’authentification à une application Web</li>
            <li>Gérer et utiliser les bibliothèques clientes (jQuery, bootstrap, etc.)</li>
            <li>Utilisation de requête AJAX dans une page web</li>
            <li>Utilisation d’horloge pour effectuer des rafraichissements partiels et périodiques</li>
            <li>Utilisation d’une base de données SQL Express local à l’application via la dll SQLExpressUtilities (fournie avec cet énoncé)</li>
            <li>Implanter un service qui reçoit une requête paramétré et qui retourne un résultat en JSON</li>
            <li>Utilisation de la balise html 5 « canvas » pour tracer des graphiques statistiques</li>
            <li>Tenir compte des droits d’usager pour l’accès à une action d’un contrôleur</li>
        </ol>

        <p>
            <br />
            <a href="@Url.Action("Contact", "Home")" class="btn btn-primary btn-lg">Nous contacter &raquo;</a>
        </p>
    </div>
</div>