@{
    ViewBag.Title = "Home Page";
}
<style>
.jumbotron {
    position: relative;
    background: #000 url("/Image/doritos.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
    h1 {
        text-align:center;
        opacity:inherit;
    }
    button {
        background-color:transparent;
        border:5px solid white;
        color:white;
        padding:10px;
        display:block;
        margin: 0 auto;
    }
</style>
<div class="jumbotron">
    <div class="container">
        <h1>L'or du dragon</h1>
        <button>En savoir plus</button>
    </div>
</div>
