
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Question</h2>

    <input type="button" class="btn btn-cancel btn-primary" value="Annuler" onclick="location.href='@Url.Action("Create", "Questions")'" />



</div>

