
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Question</h2>

    <div class="form-group">

        <input type="button" class="btn btn-cancel btn-primary" value="Ajouter une question" onclick="location.href='@Url.Action("Create", "Questions")'" />

    </div>
    
    <div class="form-group">

        <input type="button" class="btn btn-cancel btn-primary" value="Lister les questions " onclick="location.href='@Url.Action("Create", "Questions")'" />

    </div>
   


</div>

