
@{
    ViewBag.Title = "GameData";
}
<style>
    .item-image {
        width: 120px;
        height: 120px;
    }

    .item {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        width: 300px;
        height: 120px;
        background-color: #474C54;
    }

    .item-amount {
        font-size:40px;
        position: relative;
        padding-top:25px;
        margin-left:50px;
        vertical-align: central;
        color: white;
        text-align: right;
    }
</style>
<div class="container">
    <h2>Ressources</h2>

    <div class="row">
        <div class="item col-md-4">
            <img class="item-image" src="~/Image/gold.png" />
            <p class="item-amount">50 G</p>
        </div>
        <div class="item col-md-4">
            <img class="item-image" src="~/Image/mountainDew.png" />
            <p class="item-amount">5</p>
        </div>
        <div class="item col-md-4">
            <img class="item-image" src="~/Image/doritos.png" />
            <p class="item-amount">5</p>
        </div>
        <div class="item col-md-4">
            <img class="item-image" src="~/Image/auberge.png" />
            <p class="item-amount">5</p>
        </div>
        <div class="item col-md-4">
            <img class="item-image" src="~/Image/manor.png" />
            <p class="item-amount">5</p>
        </div>
        <div class="item col-md-4">
            <img class="item-image" src="~/Image/castle.png" />
            <p class="item-amount">5</p>
        </div>
    </div>
</div>

